<!DOCTYPE html>
<html lang="<%= req.getLocale() %>">
<head>
  <!-- ... -->
  <title><%= __('filteredAdsTitle') %></title>
  <!-- ... -->
</head>
<body>
  <h1><%= __('filteredAdsHeading') %></h1>
  <ul>
    <% if (adData && adData.anuncios && adData.anuncios.length > 0) { %>
      <% adData.anuncios.forEach(anuncio => { %>
        <li>
          <h2><%= anuncio.nombre %></h2>
          <p><%= anuncio.venta ? __('forSale') : __('wanted') %></p>
          <p><%= __('price') %>: <%= anuncio.precio %></p>
          <!-- ... -->
          <p><%= __('tags') %>: <%= anuncio.tags.join(', ') %></p>
        </li>
      <% }); %>
    <% } else { %>
      <li><%= __('noAdsFound') %></li>
    <% } %>
  </ul>
  <button onclick="window.location.href='/api/ads/anuncios';" class="btn btn-primary"><%= __('goBack') %></button>
  <!-- ... -->
</body>
</html>